<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {%include 'solution/common/commoncss.html'%}
</head>
<body background="{%static 'solution/images/favicon2.jpg'%}">
    {%include 'solution/common/commonheader.html'%}
    <div class="container" style="background-color: burlywood; width:75%;height:auto;margin-top: 50px;margin-bottom: 50px;">
        <h3 style="text-align: center;"><i>Safe Home Solutions</i></h3>
        <h6>is a web application that refers to a platform or website that connects individuals who need help with daily chores (such as cleaning , laundry and other household maintenance tasks) in collaboration with companies that help them provide that service. The portal serves as a marketplace for daily chores services , allowing individuals to easily find hire and play for the help they need.</h6>
       <h6> Daily chores play important role in making daily life smooth and easy, if it is performed in proper way. Living without maids and helpers to do daily household chores and help them around with errands is among the biggest woes for senior citizen, working male and female. But it is hard to find an efficient, trained and trusted person who can execute all the things in proper way. Be it maid, cook, gardener, nanny, caretaker all plays a significant role for helping in domestic task.

Manually it is also not possible to find a person in case of urgency. This portal is being developed to solve all these problems. Now this cumbersome task is just a piece of cake because the entire problem can be solved in just one click.
</h6>
<h4>
<i>
Proposed System: 
</i>
</h4>
<h6>
The goal of a Safe Home Solutions is to make it easy and convenient for

individuals to find reliable and affordable help with their daily chores, while also providing a

platform for workers to find and secure work opportunities. This web application is being

developed to show the details of all types of human resources that is providing by the company.

User can search workers according to their needs. User will give feedback for employees as well

as company.
</h6>
<h4>
<i>
Objective & Scope:
</i>
</h4>
<h6>
• Easy, secure and convenient way to find domestic workers on a single click.
</h6>
<h6>
• To provide experienced and trained workers.
</h6>
<h6>
• Flexible mode of hiring workers.
</h6>
<h4>WHY CHOOSE US?</h4>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-40">
      <img src="{%static 'solution/images/icon_reliable.png'%}" class="card-img-top"
        alt="Hollywood Sign on The Hill" style="height:200px;"/>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Experienced and Reliable</h5>
        <p class="card-text" style="text-align: center;">
            We're not an agency, but a young startup run by a passionate group of professionals. We train our workers at certified training centers
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-40">
      <img src="{%static 'solution/images/icon_affordable.png'%}" class="card-img-top"
        alt="Palm Springs Road" style="height:200px;" />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Transparent Pricing</h5>
        <p class="card-text" style="text-align: center;">You get what you pay for. Additionally, you get replacement guarantee, Covid-19 test reports, verification documents and more!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-40">
      <img src="{%static 'solution/images/icon_customer.png'%}" class="card-img-top"
        alt="Los Angeles Skyscrapers" style="height:225px;" />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Customer Support</h5>
        <p class="card-text" style="text-align: center;">Our executives will always be there to hear you out and solve your issues</p>
    </div>
  </div>
   </div>
    </div>
    </div>
    {%include 'solution/common/commonfooter.html'%}
    {%include 'solution/common/commonjs.html'%}
</body>
</html>