<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    {%include 'solution/common/commoncss.html'%}
</head>
<body background="{%static 'solution/images/map3.jpg'%}">
    {%include 'solution/common/commonheader.html'%}
    <div class="row">
        <div class="col-6">
          <h3>Hey we are here!</h3>
          <h1 style="font-weight: bolder;">Get in touch with us</h1>
          <div class="row">
            <div class="col-2">
                <img src="{%static 'solution/images/contact4.jpg'%}" style="height:25%">
                <img src="{%static 'solution/images/contact5.jpg'%}" style="height:25%">
                <img src="{%static 'solution/images/contact2.jpg'%}" style="height:25%">
                <img src="{%static 'solution/images/contact3.jpg'%}" style="height:25%">
            </div>
            <div class="col-4">
                <h6>Phone Number</h6>
                <h4>+91 7572-0310-36</h4>
                <h6 style="margin-top: 50px;">Headquaters</h6>
                <h4>C25 Mahanagar Lucknow</h4>
                <h6 style="margin-top: 50px;">Email ID</h6>
                <h4>support@safehomesolutions.com</h4>
                <h6 style="margin-top: 50px;">Whatsapp</h6>
                <h4>+91 6393-6183-53</h4>
            </div>
          </div>

        </div>
        <div class="col-6">
            <h2 style="text-align: center;">Meet The Team</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card h-80">
                    <img src="{%static 'solution/images/divyanshee2.jpg'%}" class="card-img-top"
                      alt="Hollywood Sign on The Hill" style="height: 60%;" />
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Divyanshee Srivastava</h5>
                      <p class="card-text">
                        Bachelor of techlonogy(Btech) in Computer Science and Engineering
                    </p>
                        <h6>Email: divyanshee0803@gmail.com</h6>
                        <h6>Contact Number: 7572031036</h6>
                     
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-80">
                    <img src="{%static 'solution/images/arpitmishra.jpg'%}" class="card-img-top"
                      alt="Palm Springs Road" style="height: 60%;"/>
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Arpit Mishra</h5>
                      <p class="card-text"> Bachelor of techlonogy(Btech) in Computer Science and Engineering.</p>
                      <h6>Email: arpitmishra2323@gmail.com</h6>
                      <h6>Contact Number: 6393618353</h6>
                    
                    </div>
                  </div>
                </div>
        </div>
        </div>
        {%include 'solution/common/commonfooter.html'%}
    {%include 'solution/common/commonjs.html'%}
</body>
</html>