<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    {%include 'solution/common/commoncss.html'%}
</head>
<body background="{%static 'solution/images/bg8.jpg'%}" style="background-size: cover;">
    {%include 'solution/common/commonheader.html'%}
    <h1 style="text-align: center;color:white">
        USER REGISTRATION PAGE</h1>
    
        {%if messages%}
        {%for m in messages%}
        <!-- <h2>{{m}}</h2> -->
        <div class=" alert alert-success alert-dismissible fade show" role="alert" 0 style="width: 50%;position: relative;margin-left: 380px;">
            <strong>{{m}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endfor%}
        {%endif%}
    
    
        <form method="post" action="/registration/" class="needs-validation" novalidate>
            {% csrf_token %}    
        <div class="container" style="border-style:none;background-color:transparent;width: 50%;">
            <div class="mb=3 input-group" style="margin-top: 30px;">
                <span class="input-group-text"><i class="fas fa-user-alt "></i></span>
                <div class="form-floating ">
                <input type="text" name="userid" placeholder="Enter your id" class="form-control" required>
                <label for="id" class="form-label">USER ID</label>
                <div class="invalid-feedback">
                    Please provide a id.
                    </div>
                </div>
            </div>
            <div class="mb-3 input-group" style="margin-top: 40px;">
                <span class="input-group-text"><i class="fas fa-key "></i></span>
                 <div class="form-floating ">
                <input type="password" name="userpassword" placeholder="Enter your password" class="form-control" required>
                <label for="password" class="form-label">USER PASSWORD</label>
                <div class="invalid-feedback">
                    Please provide a password.
                </div>
            </div>
            </div>
            <div class="mb=3 input-group" style="margin-top: 30px;">
                <span class="input-group-text"><i class="fas fa-user-alt "></i></span>
                <div class="form-floating ">
                <input type="text" name="username" placeholder="Enter your name" class="form-control" required>
                <label for="name" class="form-label">USER NAME</label>
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div></div>
            <div class="mb=3 input-group" style="margin-top: 30px;">
                <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                <div class="form-floating ">
                <input type="text" name="userphone" placeholder="Enter your phone number" class="form-control" required>
                <label for="phone" class="form-label">USER CONTACT</label>
                <div class="invalid-feedback">
                    Please provide a contact number.
                </div></div>
            </div>
            <div class="mb=3 input-group" style="margin-top: 30px;">
                <span class="input-group-text"><i class="far fa-comment "></i></span>
                <div class="form-floating ">
                <textarea name="useraddress" placeholder="Enter your address" class="form-control" required ></textarea>
                <label for="address" class="form-label">USER ADDRESS</label>
                <div class="invalid-feedback">
                    Please provide user address.
                </div>
            </div></div>
            <div class="mb=3 input-group" style="margin-top: 30px;">
                <span class="input-group-text"><i class="fas fa-at "></i></span>
                <div class="form-floating ">
                <input type="text" name="useremail" placeholder="Enter your email" class="form-control" required>
                <label for="email" class="form-label">USER EMAIL</label>
                <div class="invalid-feedback">
                    Please provide an email id.
                </div>
            </div></div>
            <div class="text-center mb-3 mt-5">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
        </form>
    
        <!-- including javascript validation code -->
        <script src="{%static 'solution/js/validation.js'%}"></script>  
        {%include 'solution/common/commonfooter.html'%}
        {%include 'solution/common/commonjs.html'%}
</body>
</html>